html {
    scroll-behavior: smooth;
}


/* navigation */

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
}

#navbar ul li a {
    font-size: 0.5rem;
    padding: 0px 7px;
}


/* home */

#home {
    height: 327px;
}

#home::before {
    height: 400px;
}

#home p {
    font-size: 0.7rem;
    margin-top: 0px;
    color: black;
}


/* services */

#services {
    flex-direction: column;
}


/* clients */

#clients {
    overflow: scroll;
}

#clients img {
    height: 50px;
    width: 40px;
}

#client-section::before {
    height: 300px;
}


/* contacts */


/* footer */


/* utility classes */

.h-primary {
    font-size: 1.8rem;
}