* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* CSS Variables */

 :root {
    --navbar-height: 59px;
}

#navbar {
    display: flex;
    align-items: center;
    position: absolute;
}

#logo {
    margin: 5px 10px;
}

#logo img {
    height: 50px;
    margin: 3px 5px;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li a {
    display: block;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}


/* doubt -why did we position the navbar as relative */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 490px;
}

#home::before {
    content: "";
    background: url("images/food.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#home h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}


/* services section */

#services {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

#services .box {
    border: 2px solid black;
    padding: 50px;
    margin: 3px 5px;
    border-radius: 23px;
    background-color: rgb(240, 237, 228);
}

#services .box img {
    height: 200px;
}

#services .box p {
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
}


/* clients section */

#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

#client-section {
    padding: 1px;
    height: 300px;
    margin-top: 1px;
}

#clients img {
    height: 100px;
    padding: 30px;
    padding-top: 70px;
}

#client-section::before {
    content: "";
    background: url("images/backgroundfoodhub.jpg");
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}


/* contact section */

#contact {
    height: 350px;
}

#contact::before {
    content: "";
    background: url("images/contact-us-background.jpg");
    position: absolute;
    height: 350px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

#OKK {
    cursor: pointer;
}


/* footer section */

#footer {
    height: 25px;
    background-color: black;
    color: white;
    padding: 15px;
}


/* utility classes */

.btn {
    padding: 5px 5px;
    margin-top: 10px;
    color: black;
    border: 1px solid black;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 10px;
    background-color: grey;
    opacity: 0.9;
    cursor: pointer;
}

.h-primary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 2rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.center {
    text-align: center;
}